.container {
  border-bottom: var(--border);
  padding-bottom: 15px;
  margin-top: 25px;
}

/* Section name and article date */
.info {
  display: flex;
  justify-content: space-between;
}

.section {
  text-transform: capitalize;
  background-color: #c7c7c7;
  padding: 5px;
}

.date {
  display: none;
  font-size: 14px;
  color: var(--secondary-font-color);
  margin-top: 8px;
}

/* Article main content */
.mainContent {
  margin-top: 8px;
}

.author {
  font-size: 14px;
  color: var(--secondary-font-color);
  margin-top: 5px;
}

.image {
  display: none;
  max-width: 100%;
  margin-top: 10px;
}

.abstract {
  display: none;
  margin-top: 8px;
}

/* Changes every 4th article */
.container:nth-child(4n + 1) .title {
  font-size: 32px;
}

.container:nth-child(4n + 1) .date {
  display: inline;
  font-size: 16px;
}

.container:nth-child(4n + 1) .image {
  display: inline;
}

.container:nth-child(4n + 1) .mobileView {
  display: block;
}

/* Searched Article */
.searchedTitle {
  font-size: 32px;
}

.searchedDate {
  display: inline;
  font-size: 16px;
}

.searchedAbstract {
  display: block;
}

/* Media Queries */
@media screen and (max-width: 768px) {
  .container:last-of-type {
    border-bottom: none;
  }
}

@media screen and (min-width: 768px) {
  /* Show every 4th article in entire row*/
  .container:nth-child(4n + 1) {
    grid-column: 1 / -1;
  }

  .container:nth-child(4n + 1) .mainContent {
    display: flex;
  }

  .mobileView,
  .container:nth-child(4n + 1) .mobileView {
    display: none;
  }

  .container:nth-child(4n + 1) .desktopView {
    display: block;
  }

  .text {
    flex-basis: 50%;
  }

  .multimedia {
    margin-left: 15px;
    flex-basis: 50%;
  }

  .image {
    margin-top: 0;
  }
}

@media screen and (min-width: 992px) {
  .text {
    flex-basis: 40%;
  }

  .multimedia {
    text-align: right;
    flex-basis: 60%;
  }
}
