/* Reset */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Variables */
:root {
  --primary-font: Georgia, "Times New Roman", Times, serif;
  --secondary-font: Helvetica, Arial, sans-serif;
  --border: 1px solid #ebebeb;
  --secondary-font-color: #727272;
}

/* Global */
.container {
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
}

hr {
  border: var(--border);
}
