/* Reset */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Variables */
:root {
  --primary-font: "Times New Roman", Times, serif;
  --secondary-font: Helvetica, Arial, sans-serif;
  --border: 2px solid #ebebeb;
  --primary-font-color: #121212;
  --secondary-font-color: #727272;
}

body {
  color: var(--primary-font-color);
}

/* Global */
.container {
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
}

.sectionContainer {
  padding: 0 20px;
  margin-top: 40px;
}

hr {
  border: 1px solid #ebebeb;
}

.btn {
  font-size: 18px;
  font-family: var(--secondary-font);
  border-radius: 3px;
  color: #ffffff;
  background-color: #567b95;
  border: 1px solid #326891;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #000000;
  cursor: pointer;
}
